body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.marginLeft{
margin-left: 10px;
}
.rowBox1 {
  padding: 20px;
  padding-left: 200px;
  padding-top: 50px;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
/* hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
} */
.jumbotronIndex {
  background-color: rgba(107, 96, 96, 0.609); /* Adjust the alpha (fourth value) to control transparency */
  background-image: url(34.jpg);
  background-size: 100% 100%;
  background-size: cover;
  padding-bottom: 200;
}

.jumbotronDealer {
  background-image:url(123.jpg);
  background-size: cover;
}

.jumbotronMvd {
  background-image:url(123.jpg);
  background-size: cover;
}
.jumbotronManufacturer{
  background-image:url(123.jpg);
  background-size: cover;
}
.rcorners {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  /* width: 500px; */
  /* height: 500px; */
}
.coffeed-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center {
  display: block;
  margin-left: coffee;
  margin-right: coffee;
  width: 50%;
}

.form-control-dark {
  margin: 10px;
  border: 2px solid blue;
  color: grey;
  background-color: white;
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
.text-center {
  text-align: center;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}




    /* Add custom CSS for styling */
    body {
        background-color: #f8f9fa;
    }
    .container {
        margin-top: 50px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        font-weight: bold;
    }
    .btn-submit {
        background-color: #007bff;
        color: #fff;
    }

    .big-button {
      display: inline-block;
      padding: 10px 20px; /* Adjust the padding to make the button bigger or smaller */
      background-color: aqua;
      text-decoration: none;
      color: black; /* You can change the text color to your preference */
      font-size: 20px; /* Adjust the font size to make the text bigger or smaller */
      border: none;
      cursor: pointer;
    }